@{
    ViewData["Title"] = "Lab1";
}

<div class="row">
    <div class="col-md-12">
        <h2>Lab 3</h2>

        <p class="desсriprion">
            У державі алхіміків є N населених пунктів, пронумерованих числами від 1 до N, M доріг. Населені пункти бувають двох типів: села та міста. Крім того, в державі є одна столиця (вона може розташовуватися як у місті, так і на селі). Кожна дорога з'єднує два населені пункти, і для проїзду нею потрібно Ti хвилин. У столиці було вирішено провести 1-у державну командну олімпіаду з алхімії. Для цього до всіх міст зі столиці було відправлено гінців (по одному на місто) з інформацією про олімпіаду.
        </p>
        <p>
            <h5>Вхідні дані</h5>
            У вхідному файлі INPUT.TXT спочатку записані 3 числа N, M, K — кількість населених пунктів, кількість доріг та кількість міст (2 ≤ N ≤ 1000, 1 ≤ M ≤ 10000, 1 ≤ K ≤ N). Далі записано номер столиці C (1 ≤ C ≤ N). Наступні K чисел задають номери міст. Далі йдуть M трійок чисел Si, Ei, Ti, що описують дороги: Si та Ei — номери населених пунктів, які з'єднує ця дорога, а Ti — час для проїзду нею (1 ≤ Ti ≤ 100).
            Гарантується, що до кожного міста зі столиці можна дістатися дорогами (можливо, через інші населені пункти) і те, що будь-які два населені пункти з'єднані не більше, ніж однією дорогою.
            <br /><br />
            Приклади вхідних даних:
            <div style="display:flex; flex-direction:row; gap: 20px;">
                <p style="border: solid 1px black; width: 200px">
                    5 4 5 1
                    <br />
                    1 2 3 4 5
                    <br />
                    1 2 1
                    <br />
                    2 3 10
                    <br />
                    3 4 100
                    <br />
                    4 5 100
                </p>
                <p style="border: solid 1px black; width: 200px">
                    5 5 3 1
                    <br />
                    2 4 5
                    <br />
                    2 1 1
                    <br />
                    2 3 10
                    <br />
                    3 4 100
                    <br />
                    4 5 100
                    <br />
                    1 5 1
                    

                </p>
            </div>
        <form asp-action="Execute" asp-controller="Lab" method="get">
            <input type="hidden" value="Lab3" name="labName"></input>
            <h4>Введіть дані: </h4>
            <textarea id="inputArea" name="inputData" required>@ViewData["InputData"]</textarea>
            <h4>Результат:</h4>
            <p>
                У вихідний файл OUTPUT.TXT виводиться K пар чисел: для кожного міста має бути виведений його номер та мінімальний час, коли гонець може в ньому опинитися (час вимірюється у хвилинах з того моменту, як гінці виїхали зі столиці). Пари у вихідному файлі мають бути впорядковані за часом прибуття гінця, а у разі збігу часу слід сортувати ці пари за номерами міст.
            </p>
            <textarea id="outputArea" name="result" readonly>@ViewData["Result"]</textarea>
            <br />
            <button type="submit">Execute</button>
        </form>
    </div>
</div>
